{% extends "base.html" %}

{% block content %}
<!--
<h1>List Tweet Page</h1>
<ul>
    {% for tweet in tweets %}
        <li><h2>{{tweet.nickname}} -> {{tweet.message}}</h2></li>
    {% endfor %}
<ul>
    -->
    <div class="container" style="width: 50%">
    {% for tweet in tweets %}
        <div class="card" style="padding:2px">
            <div class="card-header" style="background-color:cornflowerblue;">
                <h4> {{tweet.username}} </h4>
            </div>
            <div class="card-body">
                <p class="card-text">{{tweet.message}}</p>
            </div>
            {% if tweet.username == user %}
            <a href="{% url 'tweetapp:deletetweet' id=tweet.id %}" class="btn btn-danger">Delete</a> 
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}